body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

#photo-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

#photo-gallery img {
    width: 30%;
    margin: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
}

input[type="date"] {
    padding: 5px;
    font-size: 16px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #444;
    color: #fff;
}